@charset "UTF-8";
.panel-heading
{
	padding-top: 25px;
}
.headText
{
	margin-top: -15px;
}

/* 自动完成的样式 开始*/
.autocomplete-suggestions {
	border: 1px solid #999;
	background: #FFF;
	overflow: auto;
}
 .autocomplete-suggestion {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
}
 .autocomplete-selected {
	background: #F0F0F0;
}
 .autocomplete-suggestions strong {
	font-weight: normal;
	color: #3399FF;
}
 .autocomplete-group {
	padding: 2px 5px;
}
 .autocomplete-group strong {
	display: block;
	border-bottom: 1px solid #000;
}
/* 自动完成的样式 结束*/ 